@model Sharpshooter.Models.Menu

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/TempLayout.cshtml";
}
<style>
    div {
        text-align: center;
        align-content: center;
    }

    img{
        border-radius: 10px;
    }
</style>
<div> <h3 style="margin:auto"><em>@Model.MenuTitle</em> Menu</h3></div>
<div>
    <ul style="margin:auto">
        @foreach (var item in Model.MenuItems)
        {
                <li>
                    <p><img src="@Url.Content(item.MenuItemImg)" alt="" width="400" height="300" /></p>
                    <p>&bull; &nbsp; @Html.ActionLink(item.MenuItemTitle, "ViewItems", new { id = item.MenuItemID })</p>
                </li>
            
        }
    </ul>
</div>




<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />