@model Sharpshooter.Models.Menu

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/TempLayout.cshtml";
}
<style>
    div {
        text-align: center;
        align-content: center;
    }

    img {
        border-radius: 10px;
    }
</style>
<div> <h2 style="margin:auto"><em>@Model.MenuTitle</em></h2></div>
<div>
    <ul style="margin:auto">
        @foreach (var item in Model.MenuItems)
        {
        <div class="blog-box">
            <li>
                <h3>@item.MenuItemTitle</h3>
                <a href="@Url.Action("ViewItems", new { id = item.MenuItemID})">
                    <img border="0" alt="" src="@Url.Content(item.MenuItemImg)" width="400" height="300">
                </a>
            </li>
        </div>
        <br />

        }
    </ul>
</div>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />