@model Sharpshooter.Models.Menu

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/TempLayout.cshtml";
}

<div> <h3><em>@Model.MenuTitle</em> Menu</h3></div>

<ul>
    @foreach (var item in Model.MenuItems)
    {
    <li>
        &bull; &nbsp; @Html.ActionLink(item.MenuItemTitle, "ViewItems", new { id = item.MenuItemID })
    </li>
    }
</ul>




<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />