@model IEnumerable<Sharpshooter.Models.Menu>

@{
    ViewBag.Title = "ViewMenuAll";
    Layout = "~/Views/Shared/TempLayout.cshtml";
}

<h2>Browse Category</h2>
<p>
    Select from @Model.Count()
    genres:
</p>
<ul>
    @foreach (var category in Model)
    {
    <li>&bull; &nbsp;@Html.ActionLink(category.MenuTitle, "Browse", new { category = category.MenuTitle })</li>
    }
</ul>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />