@model IEnumerable<Sharpshooter.Models.Menu>

@{
                /**/

                ViewBag.Title = "ViewMenuAll";
                Layout = "~/Views/Shared/TempLayout.cshtml";
}

<h2>Browse Category</h2>
<p>
    Select from @Model.Count()
    genres:
</p>




@foreach (var category in Model)
{
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="shop-cat-box">
                <img class="img-fluid" src="@category.MenuImg" alt="" width="100" height="50" />
                <li class="btn hvr-hover">@Html.ActionLink(category.MenuTitle, "Browse", new { category = category.MenuTitle })"@category.MenuTitle</li>
            </div>
        </div>
    </div>
 }

    


    <br /><br /><br /><br />
    <br /><br /><br /><br />
    <br /><br /><br /><br />
