@model Sharpshooter.Models.Order

@{
    ViewBag.Title = "PayAtStore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PayAtStore</h2>

<p> Thank you for ordering at Dannys house of Curry's</p>
<p> Your Order number is: 47 </p>

