@model Sharpshooter.Models.Order

@{
    ViewBag.Title = "PayAtStore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pay at Store</h2>

<p> Thank you for ordering at Dannys house of Curry's</p>
<p> Your Order number is: 47 </p>

<br /><br /><br />


<p>
   Take a look at the location of our restaurant on the 
   @Html.ActionLink("Contacts Page", "Contact", "Home")
</p>

<br />
