@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/TempLayout.cshtml";
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>ABOUT US</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">ABOUT US</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="noo-sh-title">We are <span>Danny's House of Curries</span></h2>
                <p>
                    "If you like Indian cuisine, Danny's House of Curries is the place to be. Take a break and enjoy our tasty award winning bunny chow. 
                    A lot of reviewers find that our service is fabulous and of high quality. Google gives it 4.1 star rating, so you can choose 
                    Danny's House of Curries to be the place to have a good time."
                </p>
               
            </div>
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-thumbnail img-fluid" src="~/Content/WebsiteImages/The Restaurant.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

        <br /><br /><br />
        <br /><br /><br />
        
