
@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/TempLayout.cshtml";
}

<h2>Admin Panel:</h2>

<p>
    <li>&bull;@Html.ActionLink(" Menu", "Index", "Menus")</li>
    <li>&bull;@Html.ActionLink(" Menu Groups", "Index", "MenuGroups")</li>
    <li>&bull;@Html.ActionLink(" Menu Items", "Index", "MenuItems")</li>
</p>


<br /><br /><br />
<br /><br /><br />
<br /><br /><br />