@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/TempLayout.cshtml";
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CONTACT US</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">CONTACT US</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="noo-sh-title">Contact Us</h2>
                <p>
                    Address: Gopalall Hurbans Rd <br />
                    Tongaat, Durban<br />
                    4399 <br />
                    Call us : +27 81 123 5678 <br />
                    Email us : <a href="mailto:dannyshouse@gmail.com">dannyshouse@gmail.com</a>
                </p>

            </div>
            
        </div>
    </div>
</div>





<br /><br /><br />
<br /><br /><br />
<br /><br /><br />