@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/TempLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Address: Gopalall Hurbans Rd <br />
    Tongaat, Durban<br />
    4399 <br />
    Call us : +27 81 123 5678 <br />
    Email us : <a href="mailto:dannyshouse@gmail.com">dannyshouse@gmail.com</a>
</address>


<br /><br /><br />
<br /><br /><br />
<br /><br /><br />