@model Sharpshooter.Models.Drivers

@{
    ViewBag.Title = "BrowseDelivery";
    Layout = "~/Views/Shared/TempLayout.cshtml";
}


<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>DELIVERY ADDRESSES</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">DELIVERY</a></li>
                    <li class="breadcrumb-item active">DELIVERY ADDRESSES</li>
                </ul>
            </div>
        </div>
    </div>
</div>


@*<h2 class="noo-sh-title">DELIVERY ADDRESSES</h2>*@


<br /><br />
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    div {
        text-align: center;
        align-content: center;
    }

    img {
        border-radius: 10px;
    }

    .button {
        background-color: #f44336; /* Red */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }
</style>

<div> <h3 style="margin:auto" class="noo-sh-title"><em>@Model.DriverName</em>'s Orders:</h3></div>
<div>
    <ul style="margin:auto">
        @foreach (var item in Model.OrderDetails)
        {
            <li class="button" >
                <p class="fa fa-map-pin">&bull; &nbsp; @Html.ActionLink(item.Order.Address, "ViewOrder", new { id = item.OrderDetailId })</p>
            </li>
            <br />

        }
    </ul>
</div>

<br /><br />

<div>
    @Html.ActionLink("Back to all Drivers page", "DeliveryUser")
</div>

<br /><br /><br /><br />
<br /><br /><br /><br />
