@{
    ViewBag.Title = "Register Confirm";
}

<h2>@ViewBag.Title.</h2>
<div>
    <h3>
        Thank you for Registering with Danny's house of Curry.
    </h3>

    <p> Please view your Emails, as a Confirmation Email had been sent. </p>
</div>
